<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1"
                    aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                <span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#"><img src="images/NovelTees-WhiteScale.png" id="headlogo"></a></div>
        <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="novel-nav-list nav navbar-nav navbar-center">
                <li><a class="active about-nav" href="#">ABOUT</a></li>
                <li><a class="service-nav" href="#">SERVICES</a></li>
                <li><a class="product-nav" href="#">PRODUCT</a></li>
                <li><a class="testimonials-nav" href="#">TESTIMONIALS</a></li>
                <li><a class="vendors-nav" href="#">VENDORS</a></li>
                <li><a class="contact-nav" href="#">CONTACT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="tel:8606436008"><span><i class="glyphicon glyphicon-phone-alt"></i></span> 860-643-6008</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>